$blue: #00A3FF;
$blue-active: #008BD9;
$red: #ED0000;

$dark: #1F1F1F;
$dark-active: #CDCDCD;
$white: #ffffff;

$gradient-start: #650038;
$gradient-end: #911351;

$primary: $blue;
$primary-active: $blue-active;
$secondary: $red;
